<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<nav class="container-fluid navbar navbar-expand-md navbar-light bg-light ">-->
<!--    <a href="" class="navbar-brand">-->
<!--        <img src="/images/logo_text.png" width="153px" height="25px" alt="Tài Đại">-->
<!--    </a>-->

<!--    <div class="collapse navbar-collapse " id="navbarCollapse">-->
<!--        <div class="nav nav-pills nav-fill">-->
<!--            <% if (role == "Admin") { %>-->
<!--                <a class="nav-item nav-link btn-outline-primary" href="/users">Staff</a>-->
<!--                <a class="nav-item nav-link btn-outline-primary" href="/menus">Menu</a>-->
<!--                <a class="nav-item nav-link btn-outline-primary" href="/tables">Table</a>-->
<!--                <a class="nav-item nav-link btn-outline-primary" href="/bills">Bill</a>-->
<!--            <% } %>-->

<!--            <div class="navbar-nav ml-auto dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Xin-->
<!--                    chào, <%= findUser.fullName %> (<%= role %>)</a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                    <% if (role == "Admin") { %>-->
<!--                    <a class="dropdown-item" href="/users/info/<%= findUser._id %>">Thông tin cá nhân</a>-->
<!--                    <% } %>-->
<!--                    <a class="dropdown-item" href="/logout" onclick="return confirm('Bạn có muốn đăng xuất?')">Đăng-->
<!--                        xuất</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .nav-item {
            margin-right: 120px;
            margin-left: 30px;
            float: right;
        }

    </style>
    <title>Hello</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="/images/logo_text.png"
                                          style=" width:150px; height:25px; margin: 5px;"></a>


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <% if (role == "Admin") { %>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class=" nav-link" href="/users">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/menus">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tables">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bills">Bill</a>
                </li>
                <li class="nav-item">
                    <div class="navbar-nav ml-auto dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Xin
                            chào, <%= findUser.fullName %> (<%= role %>)</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <% if (role == "Admin") { %>
                                <a class="dropdown-item" href="/users/info/<%= findUser._id %>">Thông tin cá nhân</a>
                            <% } %>
                            <a class="dropdown-item" href="/logout" onclick="return confirm('Bạn có muốn đăng xuất?')">Đăng
                                xuất</a>
                        </div>
                    </div>
                </li>
            </ul>
        <% } %>
    </div>

</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>