<% include ../common/nav.ejs %>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="page-section">
                    <h1 class="page-title" style="margin-top: 20px">Food Menu</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h4 class="menu-title">Food</h4>
                    <% for (var i = 0; i < listFood.length; i++){ %>
                        <div class="menu-content">
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-img img-circle"><a href="#"><img src="<%= listFood[i].image %>"
                                                                                      alt=""
                                                                                      width="250px" height="200px"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a
                                                    href="/menus/<%= listFood[i]._id %>/update"><%= listFood[i].name %></a>
                                        </h5>
                                        <span class="dish-meta"> Type: <%= listFood[i].type %></span>
                                        <div class="dish-price">
                                            <p>Giá: <%= listFood[i].price %>đ</p>
                                        </div>
                                        <a onclick="return confirm('Bạn có muốn xóa món ăn này')"
                                           href="/menus/<%= listFood[i]._id %>/delete"
                                           class="btn btn-sm btn-danger">Delete</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h4 class="menu-title">Drink</h4>
                    <% for (var i = 0; i < listDrink.length; i++){ %>
                        <div class="menu-content">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="dish-img"><a href="#"><img src="<%= listDrink[i].image %>" alt=""
                                                                           width="250px" height="200px"></a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a
                                                    href="/menus/<%= listDrink[i]._id %>/update"><%= listDrink[i].name %></a>
                                        </h5>
                                        <span class="dish-meta">Số lượng: <%= listDrink[i].amount %></span>
                                        <div class="dish-price">
                                            <p>Giá: <%= listDrink[i].price %>đ</p>
                                        </div>
                                        <a onclick="return confirm('Bạn có muốn xóa thông tin người này')"
                                           href="/menus/<%= listDrink[i]._id %>/delete"
                                           class="btn btn-sm btn-danger ">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="get" action="/menus/create">
    <button class="kc_fab_main_btn" type="submit">+</button>
</form>
<style>
    .kc_fab_main_btn {
        background-color: #F44336;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background: #F44336;
        border: none;
        outline: none;
        color: #FFF;
        font-size: 36px;
        position: fixed;
        bottom: 40px;
        right: 40px;
    }

    body {
        height: auto;
        background-image: linear-gradient(deepskyblue, lightpink);
    }

    .menu-block {
        text-align: center;
        border-radius: 25px;
        border: 1px solid black;
        background-color: whitesmoke;
        box-shadow: 5px 5px 20px black;
        margin-top: 20px;
    }

    .menu-content {
        border-top: 1px solid black;
        padding: 10px;
        height: auto;
    }

    .dish-content {
        margin-top: 25px;
    }

</style>


