<% include ../common/nav.ejs %>
<h2 class="container">Order</h2>
<br>
<form method="post" action="/bills/create" class="container" enctype="multipart/form-data">
        <% for (var i = 0; i < allMenu.length; i++){ %>
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="name" id="<%=i%>" value="<%=allMenu[i].id %>" onclick="checkChk()">
                <label class="custom-control-label" for="<%=i%>"><%=allMenu[i].name %></label>
                <input type="number" class="form-control" name="amount" id="<%=i%>" placeholder="Số lượng" hidden >
            </div>

        <% } %>
    <div class="text-center">
        <button class="btn-primary btn-sm" type="submit">Order</button>
        &nbsp;
        <a href="/menus" class="btn-primary btn-sm">Hủy</a>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function checkChk() {
        debugger

        var checkbox = document.getElementsByName('name');
        var result = document.getElementsByName('amount');

        // Lặp qua từng checkbox để lấy giá trị
        for (var i = 0; i < checkbox.length; i++){
            if (checkbox[i].checked === true){
                result[i].hidden = false;
            } else {
                result[i].hidden =true;
            }
        }

    }
</script>

